<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.party.demo.mapper.RentMapper">

    <resultMap id="RentList" type="com.party.demo.domain.RentingInfo">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="buildNum" property="buildNum" jdbcType="VARCHAR"/>
        <result column="roomNum" property="roomNum" jdbcType="VARCHAR"/>
        <result column="roomArea" property="roomArea" jdbcType="INTEGER"/>
        <result column="decorate" property="decorate" jdbcType="VARCHAR"/>
        <result column="rent" property="rent" jdbcType="FLOAT"/>
        <result column="liveTeam" property="liveTeam" jdbcType="VARCHAR"/>
        <result column="sumPerson" property="sumPerson" jdbcType="INTEGER"/>
        <result column="status" property="status" jdbcType="VARCHAR"/>
        <result column="liveDate" property="liveDate" jdbcType="DATE"/>
    </resultMap>
    <select id="getRentingInfo"  resultMap="RentList">
        SELECT * FROM rentinginfo
     </select>

</mapper>

